[submodule "mnt/git/genesis-sls-core"]
	path = mnt/git/genesis-sls-core
	url = https://github.com/genesis-matrix/genesis-sls-core.git
[submodule "mnt/git/genesis-plr-core"]
	path = mnt/git/genesis-plr-core
	url = https://github.com/genesis-matrix/genesis-plr-core.git
