# Git Ignore - .gitignore
#fspath patterns that ensure that matching untracked files remain untracked


**/gpgkeys/*.gpg
etc/salt/pki
**/packer_cache
output-*/


# for directory tracking, add empty .gitignore to example/.
!.gitignore
!.gitkeep


# file browser metadata/artifacts
.DS_Store
.directory


# alt/aux version control tracking artifacts
.svn


# alt/aux tooling artifacts
.vagrant


# ignore secret/personal stuffs (except example files)
*.gpg
*.asc
*.private
.secret.d/*/*
!*__example


# unnecesary autosaves/backups
*~
*\#*
auto-save-list/*
~$*


# temp ao cache files
var/*
tmp/*
nohup.out
gmon.out

# compiled ao binary
*.pyc
*.pyo
*.elc
*.o
*.a
*.exe
*.pch

# project files
.vagrant


# temp ao cache files
var/*/*
tmp/*
*.html


# compiled ao binary
*.pyc
*.elc
*.o
*.a
*.jar
*.exe
*.obj
*.dll
*.class

# temp files
*\#*
*~
*.log
.swp
*.swp


# MSVS project files
**/Debug/
**/Release/
**/Backup/
**/elog/
*.v11.suo
*.sdf
*.opensdf
# intelisense db
*.ncb
*.idb
*.pdb
#*.unsuccessfulbuild
#*.lastbuildstate
#*.vcxproj
#*.vcxproj.filters
#*.tlog
#*.log
#*.intermediate.manifest
#*.exp
#*.sdf

# never ignore these
!**/Utilities/**
!**/.gitkeep



