[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
python-vagrant = "*"
ruamel-yaml = "*"
yamale = "*"
networkx = "*"
graphviz = "*"
dash = "*"
pandas = "*"
ruamel-yaml-cmd = "*"

[dev-packages]
pipenv = "*"
testinfra = "*"
pytest = "*"

[requires]
python_version = "3.7"
