[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
pipenv = "*"
pre-commit = "*"
pytest = "*"
# salt = "*"
# dash = "*"
# flake8 ="*"
# graphviz = "*"
# networkx = "*"
# pandas = "*"
# pysimplegui = "*"
# python-vagrant = "*"
# ruamel-yaml = "*"
# ruamel-yaml-cmd = "*"
# testinfra = "*"
# yamale = "*"

[dev-packages]

[requires]
#python_version = "3.7.7"

[scripts]
printspam = "python -c \"print('I am a silly example, no one would need to do this')\""
